<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <div class="container">
    <div class="navbar-collapse justify-content-center" id="navbarNav">
      <a routerLink="/" routerLinkActive="active" class="navbar-brand">Dating App</a>
      <div class="container justify-content-left">
        <ul class="navbar-nav" >
          <ng-container *ngIf="account.userData$ | async">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/members">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/lists">List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/messages">Messages</a>
            </li>
          </ng-container>          
        </ul>
      </div>
    </div>
    <div
      *ngIf="(account.userData$ | async) as user; else elseBlock"
      class="dropdown"
      dropdown
    >
      <button
        class="btn btn-secondary"
        dropdownToggle
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Welcome {{user.userName | titlecase}}
      </button>
      <ul
        class="dropdown-menu mt-2"
        *dropdownMenu
        aria-labelledby="dropdownMenuButton"
      >
        <a class="dropdown-item">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </ul>
    </div>
    <ng-template #elseBlock class="container justify-content-right">
      <form
        #loginForm="ngForm"
        class="form-inline my-lg-0"
        (ngSubmit)="login()"
        autocomplete="off"
      >
        <div class="input-group">
          <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control mr-2"
            type="text"
            placeholder="userName"
            aria-label="Search"
            required
          />
          <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control mr-2"
            type="password"
            placeholder="password"
            aria-label="Search"
            required
          />
          <button
            class="btn btn-outline-success"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
        </div>
      </form>
    </ng-template>
  </div>
</nav>
